.nav-container {
    padding: 10px;
    background-color: gray;
    color:white;
}



.nav-container .container ul{
    display: flex;
}

.nav-container .container li{
    list-style-type: none;
    margin: 0 20px;
}