.nav-container {
    background-color: yellow;
    padding: 10px;
}

.nav-container .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin:auto;
}

.nav-container .container ul{
    display: flex;
}

.nav-container .container li{
    list-style-type: none;
    margin: 0 20px;
}