/* modal stles */

.modal-container .modal-backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgb(0, 0 ,0,0.5);
}

.modal-container .modal {
    background-color: white;
    max-width: 480px;
    margin: 300px auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.modal-container .modal h1{
    margin:20px;
}

.modal-container .border-red{
    border:4px solid red;
}

.modal-container .border-blue{
    border:4px solid blue;
}